@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 10px;
  margin-left: 10px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  letter-spacing: 1px;
}
